<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <custom>
                <unit6_test>1</unit6_test>
                <unit6_text>test text</unit6_text>
            </custom>
        </general>
    </default>
</config>
