<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Unit2\Test\Controller\ProductViewOverride" type="Unit3\Test\Controller\ProductViewOverride"/>
    <type name="Magento\Framework\View\Layout">
        <plugin name="logged-layout-xml"
                type="Unit3\Test\Plugin\View\LoggedLayoutXMLPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Description">
        <plugin name="unit3-set-product-description"
                type="Unit3\Test\Plugin\Block\SetProductDescriptionPlugin" sortOrder="10"/>
    </type>
</config>
