<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Unit6_News::title_grid" title="News" translate="title" module="Unit6_News" parent="Magento_Backend::content" sortOrder="10" dependsOnModule="Unit6_News"  resource="Unit6_News::grid"/>
        <add id="Unit6_News::grid" title="News Grid" translate="title" module="Unit6_News" parent="Unit6_News::title_grid" sortOrder="20" dependsOnModule="Unit6_News" action="news_grid/index/index" resource="Unit6_News::grid"/>
    </menu>
</config>
