<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Unit1\FirstModule\Api\ProductRepositoryInterface"
                type="Unit1\FirstModule\MagentoU\ProductRepository"/>

    <type name="Unit1\FirstModule\MagentoU\Test">
        <arguments>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Api\ProductRepositoryInterface</argument>
            <argument name="productFactory" xsi:type="object">Magento\Catalog\Model\ProductFactory</argument>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session</argument>
            <argument name="unit1ProductRepository" xsi:type="object">Unit1\FirstModule\Api\ProductRepositoryInterface</argument>
            <argument name="justAParameter" xsi:type="string">Hello world!</argument>
            <argument name="data" xsi:type="array">
                <item name="test-array-item" xsi:type="string">Test Array Item!!!</item>
            </argument>
        </arguments>
    </type>
</config>
